.pagination {
    margin: 30px;
    font-size: 20px;
}

.pagination-row {
    display: flex;
    justify-content: space-between; /* Distribute space between items */
    margin-bottom: 10px; /* Space between rows */
}

.pagination span {
    cursor: pointer;
    margin-right: 20px;
    font-size: 20px;
}

.pagination .current-page {
    color: rgb(67, 13, 218); /* Change color as desired */
    font-weight: bold;
    text-decoration: underline;
}
