* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container-dashboard {
    display: flex;
    min-width: 100dvw;
    height: 100dvh;
}

.left-panel {
    width: 200px;
    height: 100vh;
}

/********************************/

.dashboard-right {
    width: 100vw;
    height: 100vh;
    display: flex;                 /* Use Flexbox for layout */
    justify-content: center;       /* Horizontally center the content */
    align-items: center;           /* Vertically center the content */
   
}

.boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3열 그리드 */
    grid-template-rows: repeat(2, 1fr); /* 4행 그리드 */
    gap: 50px 70px; /* 그리드 간격 */
}

.box1 {
    width: 220px; /* 최대 너비 설정 */
    height: 100px; /* 고정 높이 설정 */

    flex-direction: column;
    justify-content: center;

    align-items: center;
    border-radius: 5px;
    text-align: center;

    border-width: 2px;
    border-style: solid;
    border-color: rgb(255,192,0);
}

.box-title {
    padding-top: 7px;
    padding-bottom: 11px;
}

.box-head {
    height: 10px;
    width: 100%;
    background-color: rgb(255,192,0);
}

.box2 {
    max-width: 220px; /* 최대 너비 설정 */
    height: 100px; /* 고정 높이 설정 */

    flex-direction: column;
    justify-content: center;

    align-items: center;
    border-radius: 5px;
    text-align: center;

    border-width: 2px;
    border-style: solid;
    border-color: rgb(255,192,0);
}

.box-title {
    font-size: 1.3em;

    margin-bottom: 3px;
}

.box-number {
    font-size: 1.3em;
    margin-bottom: 5px;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Viewport height */
    font-size: 24px;
    font-weight: bold;
    color: #555;
    background-color: #f9f9f9;
}